.header {
  background-image: url("../../images/search-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 576px;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  justify-content: center;
  align-items: center;
}

.header__search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  max-width: 608px;
}

.header__title {
  display: flex;
  width: 608px;
  font-size: 60px;
  font-family: "Roboto Slab", Arial, sans-serif;
  font-weight: 400;
  font-size: 60px;
  color: white;
  margin: 0;
  padding-top: 80px;
  line-height: 64px;
  margin: 0 0 32px;
  max-width: 608px;
}

.header__title-des {
  display: flex;
  max-width: 608px;
  font-size: 18px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  color: white;
  line-height: 24px;
  margin: 0 0 88px;
}

@media screen and (max-width: 980px) {
  .header {
    max-height: 400px;
  }

  .header__search {
    max-width: 452px;
  }
  .header__title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 16px;
    max-width: 385px;
    padding-top: 38px;
  }

  .header__title-des {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 48px;
    max-width: 452px;
  }
}

@media screen and (max-width: 520px) {
  .header {
    max-height: 536px;
    padding-bottom: 32px;
  }
  .header__search {
    display: flex;
    flex-direction: column;
    max-width: 288px;
  }

  .header__title {
    font-size: 36px;
    margin-bottom: 16px;
    max-width: 285px;
    padding-top: 30px;
    margin: 0 0 16px;
  }

  .header__title-des {
    max-width: 285px;
    margin: 0 0 122px;
  }
}
