@import url(../../vendor/Fonts.css);

.modal__form-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
  }
  .modal__input-title {
    color: #000;
    font-family: "Inter", Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    color:#2F71E5;
    margin-top: 24px;
    margin-bottom: 8px;
  }
  
  .modal__input {
    font-family: "Inter", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    border: 0;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
  }